<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FireWatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="icon" href="static/favicon.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="container">
            <h1>
                <a href="/">
                    FireWatch
                </a>
            </h1>
            <!--<button type="button">Start/Stop rotation</button>
            <input type="button" name="start/stop" value="Start-Stop button">-->
            <a href=”/startStop”><input type=”button” value=”startStop()”></a>

            <h2>started</h2>
        </div>
    </div>
</body>
</html>